{{> restaurant-tabs route='topRestaurants'}}

<h1>人氣餐廳</h1>
<hr>
  {{#each restaurants}}
    <div class="card mx-auto mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="{{this.image}}" class="img-fluid rounded-start" alt="restaurant image">
        </div>
        <div class="col-md-7">
          <div class="card-body ps-5">
            <a class="fw-bold" href="/restaurant/{{this.id}}">{{this.name}}</a>
            <div class="mt-2">
              <small class="bg-secondary badge">收藏數：{{this.favoritedCount}}</small>
            </div>
            <p class="card-text my-4">{{this.description}}</p>
            <p class="card-text">
              <form action="/restaurants/{{this.id}}" method="GET" style="display: contents;">
                <button type="submit" class="btn btn-primary">Show</button>
              </form>
              {{#if this.isFavorited}}
                <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-danger">移除最愛</button>
                </form>
              {{else}}
                <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-primary">加到最愛</button>
                </form>
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  
