<div class="card mb-3 mx-auto" style="max-width: 100vw;">
  <div class="row g-0">
    <div class="col-md-4">
      {{#if user.image}}
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="user-image" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{else}}
      <img src="https://via.placeholder.com/300" class="img-fluid rounded-start" alt="user-image" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">
          <span>{{user.email}}</span>
        </p>
        <span><strong>{{user.Comments.length}} </strong>已評論餐廳</span>
      </div>
      <a class="btn btn-primary ms-3 mt-5" href="/users/{{user.id}}/edit">edit</a>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header fw-bold">{{user.Comments.length}} 已評論餐廳</h5>
  <div class="card-body text-start">
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" style="text-decoration: none;">
      <img class="m-3" src="{{this.Restaurant.image}}" width="100px" height="100px">
    </a>
    {{/each}}
  </div>
</div>