<div class="card mb-3 mx-auto" style="max-width: 100vw;">
  <div class="row g-0">
    <div class="col-md-4">
      {{#if user.image}}
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="user-image" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{else}}
      <img src="https://via.placeholder.com/300" class="img-fluid rounded-start" alt="user-image" width="300px" height="300px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">
          <span>{{user.email}}</span>
        </p>
        <div class="d-flex flex-column gap-1">
          <span><strong>{{filteredComments.length}} </strong>已評論餐廳</span>
          <span><strong>{{favoritedRestaurants.length}} </strong>收藏的餐廳</span>
          <span><strong>{{followings.length}} </strong>followings(追蹤者)</span>
          <span><strong>{{followers.length}} </strong>followers(追隨者)</span>
        </div>
      </div>
      <a class="btn btn-primary ms-3 mt-2" href="/users/{{user.id}}/edit">edit</a>
    </div>
  </div>
</div>

<div class="d-flex flex-row">
  <div class="col-4">
    <div class="card mb-3 me-4">
      <h5 class="card-header fw-bold">{{followings.length}} followings(追蹤者)</h5>
      <div class="card-body text-start">
        {{#each followings}}
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img class="mx-2" src="{{this.image}}" width="100px" height="100px">
        </a>
        {{/each}}
      </div>
    </div>
    <div class="card me-4">
      <h5 class="card-header fw-bold">{{followers.length}} followers(追隨者)</h5>
      <div class="card-body text-start">
        {{#each followers}}
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img class="mx-2" src="{{this.image}}" width="100px" height="100px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="card mb-3">
      <h5 class="card-header fw-bold">{{filteredComments.length}} 已評論餐廳</h5>
      <div class="card-body text-start">
        {{#each filteredComments}}
        <a href="/restaurants/{{this.Restaurant.id}}" style="text-decoration: none;">
          <img class="mx-2" src="{{this.Restaurant.image}}" width="100px" height="100px">
        </a>
        {{/each}}
      </div>
    </div>

    <div class="card">
      <h5 class="card-header fw-bold">{{favoritedRestaurants.length}} 收藏的餐廳</h5>
      <div class="card-body text-start">
        {{#each favoritedRestaurants}}
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img class="mx-2" src="{{this.image}}" width="100px" height="100px">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>




